.category-button {
    cursor: pointer;
    padding: 10px 22px;
    background-color: var(--color-grey-600);
    border-radius: var(--radius1);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-4);
    color: var(--color-grey-200);
}

.category-button:hover {
    transition-duration: 0.2s;
    background-color: var(--color-grey-500);
}

.category-button-selected {
    cursor: pointer;
    padding: 10px 22px;
    background-color: var(--color-brand-100);
    border-radius: var(--radius1);
    font-weight: var(--font-weight-2);
    font-size: var(--font-size-4);
    color: var(--color-grey-700);
}

.category-button-selected:hover {
    transition-duration: 0.2s;
    background-color: var(--color-brand-200);
}

.button-post {
    cursor: pointer;
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-2);
    color: var(--color-brand-100);
}

.button-post:hover {
    transition-duration: 0.2s;
    color: var(--color-brand-200);
    text-decoration: underline;
}

.button-go-top {
    background-color: var(--color-grey-200);
    color: var(--color-grey-600);
    border-radius: var(--radius1);
    padding: 10px 22px;
    text-decoration: none;
}

.button-go-top:hover {
    transition-duration: 0.2s;
    color: var(--color-grey-700);
    background-color: var(--color-grey-800);
}

